@charset "UTF-8";

#formbox {position: relative;
  margin: 40px auto;
  width: 450px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  background-color: #e0e0e0;
  border-radius: 7px;}

#joinForm {
	justify-content: center;
	align-items: center;
	padding: 0 0 0 50px;
}
.my-input {
  text-align: left;
}

.fs input {
  font-size: 1.2em;
  border: none;
}

#buttons {
  margin-top: 20px;
  gap: 10px;
  display: flex;
/*   justify-content: center; 수평 가운데 정렬 */
/*   align-items: center; 수직 가운데 정렬 */
}

#buttons button {
  margin: 0 30px; /* 좌우로 10px의 간격 */
  float: left;
}

.my-button {
	background-color: #000000;
  	color: #ffffff;
 	border-radius: 4px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.errMsg {color: red;}