@charset "UTF-8";


/* actList 페이지 전체설정  */

h2 {
  margin: 0 auto;
  margin-left: 30px;
}

form {
  margin: 0 auto;
  margin-left: 30px;
  font-size: 20px;
}

#act-list-group {
  overflow: hidden;
  border: 1px solid black;
  border-bottom: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-left: 30px;
  background-color: #FCFCF5;
  border-color: #F5F5DC; 
}

#act-list-group #act-name {
  cursor: pointer;
  display: block;
}

#act-list-group #act-name:hover {
  text-decoration: underline;
}

#act-number-div {
  width: 25%;
}

#act-name-div a {
        font-size: 28px; 
        font-weight: bold;
        text-decoration: none;
}

#act-info-div {
  width: 25%;
  text-align: right;
  font-size: 20px;
}


#act-bookmark-div {
  font-size: 35px; 
}

/* 페이징, 글쓰기 버튼 */
#act-page-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  height: 50px; 
  width: 90%; 
  margin: 0 auto; 
  margin-left: 30px;
  background-color: #f7f7f7;
  border-color: #e0e0e0;
}

#act-page-group .paging {
	font-size: 22px; /* 페이징 폰트 크기 조절 */
    text-align: center;
    width: 90%;
}
    
#act-page-group .write-button {
    font-size: 18px; /* 버튼 폰트 크기 조절 */
    text-align: right;
    width: 10%;
}

/* actList 테이블 테두리설정 끝  */


/* actView 페이지 전체설정  */
#actView{width:1600px; height: auto; margin:0 auto;left: 80px; top:50px; position: relative;}


/* actView 테이블 테두리설정  */
#actViewTable th{border:1px solid black; padding: 10px}

#actViewTable tr{border:1px solid black; padding: 10px}

#actViewTable td{border:1px solid #e0e0e0; padding: 10px}

/* actView 테이블 테두리설정 끝  */


/* actWrite 페이지 전체설정  */
#actWrite{width:1600px; height: 575px; margin:0 auto;left: 80px; top:50px; position: relative;}

#actWriteTable th{border:1px solid black; padding: 10px}

#actWriteTable tr{border:1px solid black; padding: 10px}

#actWriteTable td{border:1px solid #e0e0e0; padding: 10px}


/* actEdit 페이지 전체설정  */

#actEdit{width:1600px; height: 575px; margin:0 auto;left: 80px; top:50px; position: relative;}

#actEditTable th{border:1px solid black; padding: 10px}

#actEditTable tr{border:1px solid black; padding: 10px}

#actEditTable td{border:1px solid #e0e0e0; padding: 10px}



