@charset "UTF-8";
#terms ul {
	list-style: none;
	background-color: #e0e0e0; /* 배경색을 검정색으로 지정 */
	color: white; /* 글자색을 흰색으로 지정 */
}
#contact ul {
	list-style: none;
}
    
/* 온점(bullet) 제거  */
li {
    list-style: none;
}

/* 밑줄제거  */
a {
    text-decoration: none;
}

/* 마우스 토글시 */
#terms > ul > li > a:hover {
    color:white;
    background:black;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
  z-index: 1;
}

#content {
  padding-bottom: 100px; /* 푸터의 높이와 동일한 값으로 설정 */
}

footer {
  height: 100px; /* 푸터의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

body {
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}