@charset "UTF-8";
/* 메인 영역 */
.contents {
	margin: auto;
    display: block;
	margin-top: 40px;
}
/* 메인화면 이미지 */
.contents > .main > img {
  	margin-top: 20px;	
    width: 60%;
    margin: auto;
    display: block;
}
/* 서브 영역 */
.sub {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.sub > .banner {
	width: 60%;
	margin: 912 px;
    display: flex;
/* 	margin-top: 40px; */
	justify-content: center;
	float:left;
}

.sub > .banner > .abanner {
/* 	float:left; */
	width: 100%;
	margin-top: 20px;
	display: flex; 
  	justify-content: space-between; /* 요소를 왼쪽과 오른쪽으로 정렬합니다 */
  	overflow: hidden;
}

.sub > .banner > .abanner img {
/* 	height: 30%;
	width: 40%; */
	display: block;
	height: 400px;
	width: 60%;
	object-fit: contain;
	margin-right: 20px; /* 오른쪽 여백으로 이미지 간격 조정 */
}

div.banner > div.abanner > img:first-child {
  align-self: flex-start; /* 첫 번째 이미지를 왼쪽으로 정렬합니다 */
}

div.banner > div.abanner > img:nth-child(2) {
  align-self: flex-end; /* 두 번째 이미지를 오른쪽으로 정렬합니다 */
}


/* .sub > .banner > .bbanner {
	float:right;
	width: 100%;
} */




/* .abanner {
  float:left;
  width: 25%;
  display: block;
  margin-left : 300px;
}

.bbanner {
  float:right;
  width: 25%;
  display: block;
  margin-left : 300px;
} */

.sub > .actDivbutoon {
	float:left;
	display: block;
	margin: auto;
}

/* .banner > .actDivbutoon > img{
	  float:left;
	  width: 115px;
	  display: block;
	  margin-left : 300px;
	  gap: 120px;
} */

/* .actDivButton button {
	border: none;  
	background-color: white; 
	margin: auto;
	} */

/* 
#abanner {
	margin-left : 10px;
} */