@charset "UTF-8";

.contents {
	margin: auto;
    display: block;
	margin-top: 40px;
}

.contents > .main > img {
  	margin-top: 20px;	
    width: 60%;
    margin: auto;
    display: block;
}



.banner {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
/*   float: left; */

}

.banner > #sbanner {
	margin: auto;
    display: block;
	margin-top: 40px;
	justify-content: center;

}

.abanner img {
  float:left;
  width: 25%;
  display: block;
  gap: 150px;
  margin-left : 300px;
}

.actDivButton button {border: none;  background-color: white; margin: auto;}

/* 
#abanner {
	margin-left : 10px;
} */