@charset "UTF-8";
li {
    list-style: none;
}

/* 밑줄제거  */
a {
    text-decoration: none;
}

/* 화면 비율 
div에 .wrapper요소를 추가하지않으면 정상적인 동작을 하지 않음
*/
.wrapper {
  min-height: 100vh;
  padding-bottom: 20px;
}

/* 푸터(footer)의 배경색과 상단 경계선 */
footer {
  position: static; /* 푸터를 각 body 밑에 고정 */
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  background-color: #c0c0c0;
  border-top: 1px solid #333;
  width: 100%;
}

footer .info {
  padding: 40px 0 60px 0
}

footer .menu {
  display: flex;
  justify-content: center;
}

footer .menu li {
  position: relative;
}

footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}

footer .menu li:last-child::before {
  display: none;
}

footer .menu li a {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}

#goto-top > #maerial-icons {
  width: 42px;
  height: 42px;
	  z-index: 8;
}

#to-top a {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 42px;
  height: 42px;
/*   background-image: url('/common/images/down.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer; */
}


