@charset "UTF-8";

.contents {
	margin: auto;
    display: block;
	margin-top: 40px;
}

.contents > .main > img {
  	margin-top: 20px;	
/*     width: 60%; */
        width: 1000 px;
    margin: auto;
    display: block;
}

.sub {
	display: flex;
	list-style: none;
	justify-content: center;
	margin-top: 40px;
	padding: 0;
}

.sub > .banner {
/* 	margin: 912 px; */
    display: block;
	justify-content: center;
	float:left;
}

.sub > .banner > .abanner img {

	height: 400px;
	width: auto;
}


