@charset "UTF-8";


/* bmList 페이지 전체설정  */
#bmList{width:1600px; height: 575px; margin:0 auto;left: 80px; top:50px; position: relative;}

/* bmList 테이블 테두리설정  */
#bmListTable th{border:1px solid black; padding: 10px}

#bmListTable tr{border:1px solid #e0e0e0; padding: 10px}

#bmListTable td{border:1px solid #e0e0e0; padding: 10px}
/* bmList 테이블 테두리설정 끝  */


/* actView 페이지 전체설정  */
#actView{width:1600px; height: auto; margin:0 auto;left: 80px; top:50px; position: relative;}


/* actView 테이블 테두리설정  */
#actViewTable th{border:1px solid black; padding: 10px}

#actViewTable tr{border:1px solid black; padding: 10px}

#actViewTable td{border:1px solid #e0e0e0; padding: 10px}

/* actView 테이블 테두리설정 끝  */


/* actWrite 페이지 전체설정  */
#actWrite{width:1600px; height: 200px; margin:0 auto;left: 80px; position: relative;}

#actWriteTable th{border:1px solid black; padding: 10px}

#actWriteTable tr{border:1px solid black; padding: 10px}

#actWriteTable td{border:1px solid #e0e0e0; padding: 10px}

