@charset "UTF-8";

/* 페이지 고정으로인해 푸터와 차이가 생김 */
/* noticeList 페이지 전체설정  */
#searchbarlist{width:1600px; height: 200px; margin:0 auto;left: 80px; top:50px; position: relative;}

/* noticeList 테이블 테두리설정  */
#noticeListTable th{border:1px solid black; padding: 10px}

#noticeListTable tr{border:1px solid #e0e0e0; padding: 10px}

#noticeListTable td{border:1px solid #e0e0e0; padding: 10px}
/* actList 테이블 테두리설정 끝  */


/* noticeView 페이지 전체설정  */
#noticeView{width:1600px; height: 200px; margin:0 auto;left: 80px; position: relative;}


/* noticeView 테이블 테두리설정  */
#noticeTable th{border:1px solid black; padding: 10px}

#noticeTable tr{border:1px solid black; padding: 10px}

#noticeTable td{border:1px solid #e0e0e0; padding: 10px}

/* actView 테이블 테두리설정 끝  */


/* noticeWrite 페이지 전체설정  */
#noticeWrite{width:1600px; height: 200px; margin:0 auto;left: 80px; position: relative;}

#writeFrm th{border:1px solid black; padding: 10px}

#writeFrm tr{border:1px solid black; padding: 10px}

#writeFrm td{border:1px solid #e0e0e0; padding: 10px}


/* noticeEdit 페이지 전체설정  */

#noticeEdit{width:1600px; height: 200px; margin:0 auto;left: 80px; top:50px; position: relative;}

#noticeEditTable th{border:1px solid black; padding: 10px}

#noticeEditTable tr{border:1px solid black; padding: 10px}

#noticeEditTable td{border:1px solid #e0e0e0; padding: 10px}

